html {
  font-size: 62.5%;

  @include mq-max($tablet-max) {font-size: 59.375%;}
  @include mq-max($tablet-min) {font-size: 56.55%;}
  @include mq-max($phone-max) {font-size: 53.125%;}
  @include mq-max($phone-s) {font-size: 50%;}
}

h2 {
  font-weight: $fw-heading-bulky; // clean
  font-size: $fs-heading-medium; // clean
}

button {
  border-radius: $border-radius-btn;
}

.body-container {
  @include flex-col-center;
  position: relative;
  min-height: 100vh;
  font-family: $font-default;
  font-weight: $fw-default;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: $clr-white;
  background-color: $clr-primary;
  overflow: hidden;

  @media only screen and (orientation: landscape) and (max-width: 915px) and (max-height: 430px) {
    display: block;
  }
}
