html {
  font-size: 62.5%;

  // t max
  @media only screen and (max-width: 1050px) {
    font-size: 59.375%;
  }

  // t min
  @media only screen and (max-width: 700px) {
    font-size: 56.55%;
  }

  // p max
  @media only screen and (max-width: 580px) {
    font-size: 53.125%;
  }

  // p min
  @media only screen and (max-width: 375px) {
    font-size: 50%;
  }
}

h2 {
  font-weight: $fw-heading-bulky;
  font-size: $fs-heading-medium;
}

button {
  border-radius: $border-radius-btn;
}

.body-container {
  @include flex-col-center;
  position: relative;
  min-height: 100vh;
  font-family: $font-default;
  font-size: $fs-default;
  font-weight: $fw-default;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: $clr-white;
  background-color: $clr-primary;
  overflow: hidden;

  @media only screen and (orientation: landscape) and (max-width: 915px) and (max-height: 430px) {
    display: block;
  }
}
