// SECTION: CONFIG
$HIDE_CONTENT: false;
$SHOW_CONTENT: true;

$SHOW: block;
$HIDE: none;

// SECTION: Colors
$clr-black: hsl(0, 0%, 0%);
$clr-black-800: hsla(0, 0%, 0%, 0.8);
$clr-black-500: hsla(0, 0%, 0%, 0.5);
$clr-black-300: hsla(0, 0%, 0%, 0.3);
$clr-black-200: hsla(0, 0%, 0%, 0.2);
$clr-black-100: hsla(0, 0%, 0%, 0.1);

$clr-white: hsl(0, 0%, 100%);
$clr-white-900: hsl(0, 0%, 90%);
$clr-white-700: hsl(0, 0%, 75%);
$clr-white-600: hsla(0, 0%, 100%, 0.6);
$clr-white-400: hsla(0, 0%, 100%, 0.4);
$clr-white-300: hsla(0, 0%, 100%, 0.349);
$clr-white-200: hsla(0, 0%, 100%, 0.2);
$clr-white-090: hsla(0, 0%, 100%, 0.09);

$clr-grey: #22262a;
$clr-grey-900: hsla(214, 4%, 18%);
$clr-grey-950: hsla(214, 4%, 18%, 0.8);
$clr-grey-700: hsl(210, 11%, 70%);
$clr-grey-500: hsl(210, 11%, 50%);
$clr-grey-300: hsl(210, 11%, 30%);
$clr-grey-100: hsla(210, 11%, 10%, 0.8);

$clr-primary: hsl(347, 72%, 56%);
$clr-primary-800: hsl(347, 73%, 80%);
$clr-primary-700: hsl(347, 72%, 65%);
$clr-primary-600: hsl(347, 72%, 60%);
$clr-primary-400: hsl(347, 72%, 40%);
$clr-primary-300: hsl(347, 73%, 30%);

$clr-secondary: hsl(45, 97%, 54%);
$clr-secondary-800: hsl(45, 97%, 80%);
$clr-secondary-600: hsl(45, 97%, 60%);
$clr-secondary-400: hsl(45, 97%, 40%);
$clr-secondary-300: hsl(45, 97%, 30%);

// SECTION: Fonts
$font-default: 'Nunito', sans-serif;

//* weights ------------
$fw-default: 400;

$fw-max: 800;
$fw-b: 600;
$fw-m: 500;
$fw-s: 300;
$fw-min: 200;

//* sizes ------------
$fs-default: 1.7rem;

$fs-heading-max: 5.5rem;
$fs-heading-b: 4.5rem;
$fs-heading-m: 4rem;
$fs-heading-s: 3rem;
$fs-heading-min: 2.5rem;

$fs-text-max: 2rem;
$fs-text-b: 1.8rem;
$fs-text-m: 1.5rem;
$fs-text-s: 1.3rem;
$fs-text-min: 1rem;

// SECTION: Border radius
$border-radius-default: 1rem;
$border-radius-circle: 50%;

// SECTION: Padding
$p-max: 10rem;
$p-b: 8rem;
$p-m: 6rem;
$p-s: 4rem;
$p-min: 2rem;

$p-fluid-max: 15%;
$p-fluid-b: 10%;
$p-fluid-m: 8%;
$p-fluid-s: 4%;
$p-fluid-min: 2%;

// SECTION: Width
$w-fluid-max: 95vw;
$w-fluid-b: 80vw;
$w-fluid-m: 60vw;
$w-fluid-s: 40vw;
$w-fluid-min: 30vw;

// SECTION: Transition
$transition-slow: all 0.75s linear;
$transition-medium: all 0.3s linear;
$transition-fast: all 0.15s linear;

// SECTION: Box shadow
$box-shadow-darkest: 0 0 5rem $clr-black-800;
$box-shadow-dark: 0 0 5rem $clr-black-500;
$box-shadow-medium: 0 0 5rem $clr-black-200;
$box-shadow-light: 0 0 5rem $clr-black-100;
$box-shadow-light: 0 0 5rem $clr-black-100;

