.leaving-modal {
  $l-p-fluid-max: 8%;
  $l-p-fluid-m: 6%;
  $l-p-fluid-min: 5%;

  z-index: layer('modal');
  transition: $transition-fast;
  @include abs-center;
  @include flex-col-center(2rem);
  @include modal-bg;
  @include animation(fade-in);

  &__box {
    @include flex-col-center;
    padding: $p-m;
    border-radius: $border-radius-default;
    background-color: $clr-white;
    box-shadow: $box-shadow-medium;

    @include mq-max($phone-max) {
      padding: $l-p-fluid-max;
    }

    @include mq-max($phone-min) {
      padding: $l-p-fluid-m;
    }

    @include mq-landscape(phone-max) {
      padding: $l-p-fluid-min;
    }
  }

// SECTION: Heading
  &__heading {
    margin-bottom: 3rem;
    text-align: center;
    font-size: $fs-heading-m;
    color: $clr-grey;

    @include mq-max($phone-max) {
      @include fs-down($fs-heading-m, 0.5); // 3.5r
    }

    @include mq-max($phone-b) {
      margin-bottom: 2rem;
      @include fs-down($fs-heading-m, 1); // 3r
    }

    @include mq-landscape(phone-max) {
      margin-bottom: 2rem;
      @include fs-down($fs-heading-m, 1); // 3r
    }
  }

// SECTION: Text
  &__text {
    margin-bottom: 4rem;
    color: $clr-grey;
    font-size: $fs-default;

    @include mq-max($phone-b) {
      margin-bottom: 3rem;
      font-size: $fs-text-b;
    }

    @include mq-landscape(phone-max) {
      margin-bottom: 3rem;
      font-size: $fs-text-b;
    }
  }

// SECTION: Btns container
  &__btns-container {
    @include flex-split(2rem);
  }
}
