.leaving-modal {
  @include flex-col-center(2rem);
  @include modal-bg;
  @include animation(fade-in);
  transition: $transition-fast;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999999999;

  &__box {
    @include flex-col-center;
    padding: 6rem;
    border-radius: $border-radius;
    background-color: $clr-white;
    box-shadow: $box-shadow-medium;

    @media only screen and (max-width: 580px) {
      padding: 8%;
    }

    @media only screen and (max-width: 330px) {
      padding: 6%;
    }

    @media only screen and (orientation: landscape) and (max-width: 915px) and (max-height: 430px) {
      padding: 5%;
    }
  }

  &__heading {
    font-size: $fs-heading-big;
    color: $clr-grey;
    margin-bottom: 3rem;
    text-align: center;

    @media only screen and (max-width: 580px) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: 500px),
      (orientation: landscape) and (max-width: 915px) and (max-height: 430px) {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  &__text {
    color: $clr-grey;
    margin-bottom: 4rem;
    font-size: 1.7rem;
    @media only screen and (max-width: 500px),
      (orientation: landscape) and (max-width: 915px) and (max-height: 430px) {
      margin-bottom: 3rem;
      font-size: 1.6rem;
    }
  }

  &__btns-container {
    @include flex-split(2rem);
  }
}
