.leaving-modal {
  @include flex-col-center(2rem);
  @include modal-bg;
  @include animation(fade-in);
  transition: $transition-fast;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999999999;

  &__box {
    @include flex-col-center;
    padding: 6rem;
    border-radius: $border-radius;
    background-color: $clr-white;
    box-shadow: $box-shadow-medium;

    @include mq-max($phone-max) {
      padding: 8%;
    }

    @include mq-max($phone-s) {
      width: 19rem;
    }

    @include mq-max($phone-min) {
      padding: 6%;
    }

    @include mq-landscape(phone-max) {
      padding: 5%;
    }
  }

  &__heading {
    font-size: $fs-heading-big;
    color: $clr-grey;
    margin-bottom: 3rem;
    text-align: center;

    @include mq-max($phone-max) {
      font-size: 3.5rem;
    }

    @include mq-max($phone-b) {
      margin-bottom: 2rem;
      font-size: 3rem;
    }

    @include mq-landscape(phone-max) {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  &__text {
    color: $clr-grey;
    margin-bottom: 4rem;
    font-size: 1.7rem;

    @include mq-max($phone-b) {
      margin-bottom: 3rem;
      font-size: 1.6rem;
    }

    @include mq-landscape(phone-max) {
      margin-bottom: 3rem;
      font-size: 1.6rem;
    }
  }

  &__btns-container {
    @include flex-split(2rem);
  }
}
