.not-supported-modal {
  display: none;

  z-index: layer('modal');
  padding: $p-m;
  border-radius: $border-radius-default;
  background-color: $clr-white;
  box-shadow: $box-shadow-medium;
  width: 80rem;
  @include abs-center;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: block;
   
  }

  &__warning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    &-icon {
      fill: $clr-grey;
      @include size-same(5rem);
    }
  }

  &__heading {
    color: $clr-grey;
    font-size: $fs-heading-s;
    margin: 0 auto;
    text-align: center;
  }

  &__divider {
    @include divider(1rem);
    background-color: $clr-grey;
  }

  &__text {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-weight: $fw-m;
    color: $clr-black-500;

    &-error {
      @extend .not-supported-modal__text;
      margin-top: 6rem;

      & a {
        color: $clr-grey;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}