.paused-modal {
  z-index: layer('modal');
  transition: $transition-slow;
  @include modal-bg;
  @include flex-me;
  @include animation(fade-in);
  @include abs-center;

// SECTION: Btn
  &__btn {
    @include flex-col-center;

    &:hover .paused-modal__icon,
    &:hover .paused-modal__text {
      color: $clr-primary;
    }
  }

// SECTION: Icon & Text
  &__icon,
  &__text {
    color: $clr-white;
    transition: $transition-fast;
  }

  &__icon {
    @include size-same(30rem);

    @include mq-max($phone-max) {@include size-same(22rem)}
    @include mq-max-w-h($phone-s, $screen-h-min) {@include size-same(16rem)}
    @include mq-landscape(phone-max) {@include size-same(16rem)}
  }

  &__text {
    font-size: $fs-heading-b;
    text-transform: uppercase;

    @include mq-max-w-h($phone-s, $screen-h-min) {font-size: $fs-heading-s}
    @include mq-landscape(phone-max) {font-size: $fs-heading-s}

    & span {
      // break text into two lines/rows
      @include mq-max($phone-max) {display: block}
      @include mq-landscape(phone-max) {display: block}
    }
  }
}
