.dark-theme {
  background-color: $clr-grey;

  & .menu,
  & .modes,
  & .rules,
  & .credits {
    @include glossy-bg($light-theme: false);
  }

  & .game {
    @include glossy-bg($padding-value: 0, $light-theme: false);
  }

  & .victory-bar,
  & .player--winner {
    background-color: $clr-white-900;
  }

  & .bg-bar {
    background-color: $clr-grey-100;
  }

  & .note {
    background-color: $clr-black-200;
  }

  & h2 {
    color: $clr-primary-800;
  }

  & .player__score,
  & .player__name {
    color: $clr-primary;
  }

  & .game-countdown__timer {
    color: $clr-white-900;
  }

  & .player--active {
    background-color: $clr-white-700;
  }

  & .btn-border {
    background-color: $clr-grey-300;
    color: $clr-primary-800;
    border: 0.2rem solid $clr-white-090;

    &:hover {
      background-color: $clr-white-900;
    }
  }
}
