.dark-theme {
  background-color: $clr-grey;

  & .menu,
  & .modes,
  & .rules,
  & .credits {
    @include glossy-bg($light-theme: false);
  }

  & .game {
    @include glossy-bg($padding-value: 0, $light-theme: false);
  }

  & .victory-bar,
  & .player--winner {
    background-color: $clr-white-900;
  }

  & .bg-bar {
    background-color: $clr-grey-100;
  }

  & .note {
    background-color: $clr-black-200;
  }

  & h2,
  & .menu__logo--text {
    color: $clr-primary-800;
  }


  & .leaving-modal__heading,
  & .victory-bar__heading--start,
  & .victory-bar__heading--end {
    color: $clr-grey;
  }


  & .paused-modal__text {
    color: $clr-white;
  }

  // Making the png pink
  & .menu__logo--icon img {
    filter: invert(75%) sepia(3%) saturate(3990%) hue-rotate(300deg)
      brightness(300%) contrast(89%);

      // Mozilla renders diffirent colors. So the filter have diffirent setting
      @-moz-document url-prefix() {
      filter: invert(75.2%) sepia(3%) saturate(3482%) hue-rotate(343deg) brightness(300.6%) contrast(89%);
    }
  }

  & .player__score,
  & .player__name,
  & .timer__counter {
    color: $clr-primary;
  }

  & .game-countdown__timer {
    color: $clr-white-900;
  }

  & .game-bar-phone {
    background-color: $clr-grey;
  }

  & .player--active {
    background-color: $clr-white-700;
  }

  & .btn-border,
  & .btn-primary {
    background-color: $clr-grey-300;
    color: $clr-primary-800;
    border: 0.3rem solid $clr-white-090;

    &:hover {
      background-color: $clr-white-900;
    }
  }

  & .btn-secondary--grey {
    background: $clr-white-090;
  }
}
