.btn {
  @include flex-me(center, center, 1rem);
  width: $btn-width-longest;
  padding: 1.55rem 0; // make b
  transition: $transition-fast;
  font-size: $fs-btn; // make b
  font-weight: $fw-btn; // make b
  text-transform: uppercase;
  color: $clr-grey;
  background-color: $clr-white;

  @media only screen and (max-width: 400px) {
    width: 43vw;
    font-size: 1.35rem;
  }

  @media only screen and (max-width: 330px) {
    font-size: 1.25rem;
    padding: 1.45rem 0; // make b
  }

  &:active {
    transform: translateY(0.3rem);
    box-shadow: $box-shadow-btn-down;
  }

  &:focus {
    outline: none;
  }

  &__icon {
    width: 2.1rem;
  }
}

.btn-grey {
  width: $btn-width-medium;
  padding: 1.3rem 0; // make b
  color: $clr-white;
  background-color: $clr-grey;
}

//$ ok
.btn-round {
  @include flex-me(center, center);
  @include size-same(3.2rem);
  background-color: $clr-white-200;
  border-radius: $border-radius-circle;
  transition: $transition-fast;

  &:hover {
    background-color: $clr-white-300;
  }
}

.btn-border {
  @include flex-me;
  width: 20rem; // make b
  height: 8rem; // make b
  transition: $transition-fast;

  font-size: $fs-text-biggest; // make b
  font-weight: $fw-text-bulky; // make b
  color: $clr-white;

  background-color: transparent;
  border: $border-white-thick;
  border-radius: $border-radius;
}
