//btn--primary
.btn {
  width: 17rem; // make b
  padding: 1.8rem 0; // make b
  transition: $transition-fast;
  font-size: 1.6rem; // make b
  font-weight: 800; // make b
  text-transform: uppercase;
  color: $clr-grey;
  background-color: $clr-white;

  &:active {
    transform: translateY(0.3rem); // mixn
    box-shadow: $box-shadow-btn-down; // make b
  }

  &:focus {
    outline: none;
  }
}

//???
.btn--swap-yes,
.btn--swap-no {
  background-color: $clr-grey;
  color: $clr-white;
}

// secondary
.btn-grey {
  @extend .btn;
  width: 11rem; // make b
  padding: 1.4rem; // make b
  color: $clr-white;
  background-color: $clr-grey;

  &--lg {
    @extend .btn-grey;
    width: 16rem; // make b
  }

  &--sm {
    @extend .btn-grey;
    font-size: 1.4rem;
    width: 8.5rem; // make b
    padding: 0; // make b
    height: 4.4rem; // make b
  }

  &--ghost {
    background-color: transparent;
    color: $clr-grey;
    box-shadow: inset 0 0 0 0.3rem $clr-grey; // make b
    font-weight: 900; // make b
  }
}

// circle
.btn-round {
  @include flex-me(center, center);
  @include size-same(3.2rem);
  background-color: $clr-white-200;
  border-radius: $border-radius-circle;
  transition: $transition-fast;

  @include mq-max($phone-max) {
    @include size-same(3.4rem);
  }

  @include mq-max($phone-b) {
    @include size-same(3.7rem);
  }

  @include mq-landscape(phone-s) {
    @include size-same(3.3rem);
  }

  & .icon {
    color: $clr-white;
  }

  &:hover {
    background-color: $clr-white-300;
  }
}

//tile
.btn-border {
  @include flex-me;
  width: 20rem; // make b
  height: 6.5rem; // make b
  transition: $transition-fast;

  font-size: 2.5rem; // make b
  border-radius: $border-radius;

  font-weight: 900; // make b
  background-color: $clr-white-900; // make b
  color: $clr-primary-600; // make b
  border: 0.2rem solid $clr-white; // make b
  box-shadow: 0 0 0 0.35rem $clr-primary-800; // make b

  &:hover {
    cursor: pointer;
    transform: scale(110%);
    color: $clr-primary-800;
  }

  @include mq-max($tablet-b) {
    font-size: 2.7vw;
    width: 22vw; // make b
    height: 7vw; // make b
  }

  @include mq-max($phone-max) {
    width: 100%; // make b
    height: 9vw; // make b
    font-size: 4vw;
  }

  @include mq-max($phone-m) {
    height: 9.5vw;
    font-size: 4.4vw;
  }

  @include mq-landscape(phone-s) {
    height: 8vw;
    font-size: 3vw;
  }
}
