
// SECTION: Btn local variables
$btn-shadow: 0 1rem 1rem hsla(0, 0%, 0%, 0.1);
$btn-shadow-clicked: 0 1rem 3rem hsla(0, 0%, 0%, 0.3);
$btn-border-radius: 50rem;


// SECTION: Default btn styles
%btn {
  text-transform: uppercase;
  font-weight: $fw-max;
  transition: $transition-fast;
  border-radius: $btn-border-radius;

  &:active {
    cursor: pointer;
    @include pos-Y(0.4rem);
    box-shadow: $btn-shadow-clicked;
  }
}

.btn-primary,
.btn-secondary,
.btn-grey,
.btn-opacity {
  @extend %btn;
}

// SECTION: Utility class
// NOTE: Only purpose for JS. Animations for Robot when clicks the btn
.clicked {
  @include pos-Y(0.4rem);
  box-shadow: $btn-shadow-clicked !important;
}


// SECTION: Primary btn (menu, playground, modes)
.btn-primary {
  max-height: 6rem;
  width: 20rem;
  padding: 1.3rem;
  box-shadow: 0 0 0 0.4rem $clr-primary-800;
  border: 0.3rem solid $clr-white;
  border-radius: $border-radius-default;
  font-weight: 900;
  @include font-size(2rem);
  @include giv-color($clr-primary-600, $clr-white-900);

  @include mq-max($phone-m) {
    padding: 1.1rem;
  }

  @include mq-landscape(phone-min) {
    padding: 1.1rem;
    font-size: 1.7rem;
  }

  &:hover {transform: scale(110%)}

  &--full {
    @extend .btn-primary;
    width: 100%;
  }
}

// SECTION: Secondary btn (game)
.btn-secondary {
  width: 17rem;
  padding: 1.8rem;
  font-size: 1.6rem;
  box-shadow: $btn-shadow;
  @include giv-color($clr-grey, $clr-white);

  &:disabled,
  &[disabled]{
    @include giv-color($clr-grey-950, $clr-white-600);
  }

  &--grey {
    @extend .btn-secondary;
    @include giv-color($clr-white, $clr-grey);
  }
}

// SECTION: Opacity btn (rules, credits)
.btn-opacity {
  width: 16rem;
  padding: 1.2rem;
  font-size: 1.45rem;
  @include giv-color($clr-white, $clr-white-300);

  &:hover {background-color: $clr-white-400}
}

// SECTION: Grey btn (swap, victory, leaving)
.btn-grey {
  width: 11rem;
  padding: 1.4rem;
  font-size: 1.6rem;
  @include giv-color($clr-white, $clr-grey);

  &:disabled,
  &[disabled]{
    @include giv-color($clr-white-600, $clr-black-500);
  }

  &--ghost {
    background-color: transparent;
    font-weight: 900;
    color: $clr-grey;
    box-shadow: inset 0 0 0 0.3rem $clr-grey;
  }

  //* Big & small btns
  &--b,
  &--s,
  &--ghost {
    @extend .btn-grey;
  }

  &--b {
    width: 16rem;
  }

  &--s {
    height: 4.4rem;
    width: 8.5rem;
    padding: 0;
    font-size: 1.2rem;
  }
}

// SECTION: Round btn (navbar)
.btn-round {
  background-color: $clr-white-200;
  border-radius: $border-radius-circle;
  @include flex-me(center, center);
  @include size-same(3.2rem);
  display: grid;
  align-items: grid;

  @include mq-max($phone-max) {
    @include size-same(3.4rem);
  }

  @include mq-max($phone-m) {
    @include size-same(3.7rem);
  }

  &:hover {
    background-color: $clr-white-300;
  }

  & .icon {
    color: $clr-white;
    @include size-same(2rem);

    @include mq-max($phone-max) {
      @include size-same(5rem);
    }
  }
}
