.current-box {
  width: 24rem;
  padding: $padding-small;
  opacity: 0.8;
  text-align: center;
  color: $clr-white-900;
  background-color: $clr-grey;
  border-radius: $border-radius;

  @include mq-max($tablet-max) {
    width: 275%;
    border-radius: 0;
  }

  @include mq-max($phone-max) {
    width: 100%; // mixin
    padding: 1rem;
    display: flex; // mixin
    justify-content: center; // mixin
    align-items: center; // mixin
    gap: 1rem; // mixin
    height: 7rem; // mixin

    position: absolute; // mixin
    bottom: 0; // mixin
  }

  @include mq-max($phone-min) {
    height: 5rem;
  }

  @include mq-landscape(phone-max) {
    display: flex; // mixin
    justify-content: center; // mixin
    align-items: center; // mixin
    gap: 1.5rem; // mixin
    height: 6rem; // make b
    position: absolute; // mixin
    bottom: 0; // mixin
  }

  @include mq-landscape(phone-s) {
    height: 5rem;
  }

  &__label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.5rem; // make b

    @include mq-max($phone-max) {
      margin: 0; // ???
      font-size: 1.9rem; // make b
    }

    @include mq-max($phone-s) {
      font-size: 1.6rem; // make b
    }

    @include mq-landscape(phone-max) {
      font-size: 1.7rem; // make b
      margin: 0; // ???
    }
  }

  &__score {
    font-size: calc($fs-default + 2rem); // 3.5rem // make b

    @include mq-max($phone-s) {
      font-size: 3.2rem; // make b
    }
  }
}
