.current-box {
  width: 65%;
  padding: $padding-small;
  opacity: 0.8;
  text-align: center;
  color: $clr-white-900;
  background-color: $clr-grey;
  border-radius: $border-radius;

  @media only screen and (max-width: 1050px) {
    width: 100%;
    border-radius: 0;
  }

  @media only screen and (max-height: 600px) {
    height: 5.5rem;
  }

  @media only screen and (max-width: 580px) {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__label {
    text-transform: uppercase;
    margin-bottom: 1rem;

    @media only screen and (max-width: 580px) {
      margin: 0;
    }

    @media only screen and (max-height: 600px) {
      font-size: 1.4rem;
    }
  }

  &__score {
    font-size: calc($fs-default + 2rem); // 3.5rem

    @media only screen and (max-height: 600px) {
      font-size: 3rem;
    }
  }
}
