.dice {
  $l-width-default: 12rem;
  $l-width-max: 11rem;
  $l-width-b: 10rem;
  $l-width-m: 9rem;
  $l-width-s: 8rem;
  $l-width-min: 8.5rem;

  width: $l-width-default;
  padding: $p-min;
  background-color: $clr-white;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-medium; 

  @include mq-max($tablet-b) {width: $l-width-b}
  @include mq-max($tablet-min) {width: $l-width-min}
  @include mq-max($phone-max) {width: $l-width-max}
  @include mq-max($phone-min) {width: $l-width-m}
  @include mq-landscape(phone-max) {width: $l-width-b}
  @include mq-landscape(phone-s) {width: $l-width-m}

  @include mq-max($phone-max) {padding: 1.5rem}
  @include mq-landscape(phone-max) {padding: 1.5rem}
}
