.dice {
  width: 12rem;
  padding: $padding-small;
  background-color: $clr-white;
  border-radius: $border-radius;
  box-shadow: $box-shadow-medium; 

  @include mq-max($tablet-b) {width: 10rem;}
  @include mq-max($tablet-min) {width: 8.5rem;}
  @include mq-max($phone-max) {width: 11rem;}
  @include mq-max($phone-min) {width: 9rem;}
  @include mq-landscape(phone-max) {width: 10rem;}
  @include mq-landscape(phone-s) {width: 8rem;}
}
