.note {
  opacity: 0;
  white-space: nowrap;
  text-transform: lowercase;
  padding: 0.5rem 1rem;
  z-index: layer('navbar') - 1;
  font-size: $fs-text-min;
  border-radius: $border-radius-default;
  @include giv-color($clr-white, $clr-grey);

  @include mq-max($phone-max) {@include fs-up($fs-text-min, 0.25)} // 1.25r
  @include mq-max($phone-b) {@include fs-up($fs-text-min, 0.35)} // 1.35r
}
