.note {
  opacity: 0;
  white-space: nowrap;
  text-transform: lowercase;
  font-size: $fs-text-small;
  color: $clr-white;
  background-color: $clr-grey;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  z-index: 999;

  @include mq-max($phone-max) {font-size: 1.25rem;}
  @include mq-max($phone-b) {font-size: 1.35rem;}
}
