.panel-bar {
  @include flex-col-center;
  position: absolute;
  top: 8.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 200;

  @include mq-max($phone-max) {top: -12.2rem;}
  @include mq-max($phone-min) {top: -10.2rem;}
  @include mq-max-width-height($phone-min, 31.25em) {top: -9.7rem;}
  @include mq-landscape(phone-max) {top: 6rem;}
  @include mq-landscape(phone-s) {top: 5rem;}

  &__btns-container {
    @include flex-col-center(3rem);
    transform: translateY(12.8rem);

    @include mq-max($tablet-b) {transform: translateY(14.8rem);}
    @include mq-max($tablet-min) {transform: translateY(16.2rem);}
    @include mq-max($phone-max) {display: none;}
    @include mq-landscape(phone-max) {display: none;}

    & .btn {
      @include mq-max($tablet-min) {width: 23vw;}
    }
  }

  &__swap-container {
    height: 4.8rem;
    transform: translateY(3rem);
    z-index: 9999;

    display: flex;
    gap: 3rem;

    
    @include mq-max($tablet-min) {gap: 2rem;}
    @include mq-max($phone-max) {display: none;}
    @include mq-landscape(phone-max) {display: none;}
  }
}
