.player {
  @include flex-col-center;
  flex: 50%;
  padding: $padding-big;
  transition: $transition-medium;

  @media only screen and (max-width: 1050px) {
    padding: 8rem 5%;
  }

  @media only screen and (max-width: 580px) {
    height: 5rem;
    padding: 2rem 0 0 0;
  }

  @media only screen and (max-height: 700px) {
    padding: 1.8rem 0 0 0;
  }

  &--active,
  &--winner {
    & .player__name {
      font-weight: $fw-heading-bulky;
    }

    & .player__score {
      font-weight: $fw-bold;
    }

    & .current-box {
      opacity: 1;
    }
  }

  &--active {
    background-color: $clr-white-600;
  }

  &--winner {
    background-color: $clr-white;
  }

  &__status {
    height: 2.7rem;
  }

  &__name {
    position: relative;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    color: $clr-grey;
    font-weight: calc($fw-heading-bulky - 400);
    font-size: $fs-heading-big;

    @media only screen and (max-width: 580px) {
      font-size: 4rem;
    }

    @media only screen and (max-height: 700px) {
      font-size: 4.8vh;
    }
  }

  &__playing,
  &__winner {
    color: $clr-grey;
    font-size: $fs-text-big;
    font-weight: $fw-text-medium;

    @media only screen and (max-height: 500px) {
      font-size: 1.6rem;
    }
  }

  &__playing {
    animation: pulsing 1s linear infinite alternate;
  }

  &__score {
    margin-bottom: auto;
    font-size: 10rem;
    font-weight: $fw-tiny;
    color: $clr-grey;

    @media only screen and (max-width: 580px) {
      font-size: 8rem;
      transform: translateY(-1.3rem);
    }

    @media only screen and (max-height: 700px) {
      font-size: 10vh;
    }
  }
}

@keyframes pulsing {
  0% {
    opacity: 40%;
  }

  100% {
    opacity: 100%;
  }
}
