.player {
  flex: 50%;
  position: relative;
  overflow: hidden;
  transition: $transition-medium;
  border-radius: $border-radius-default;
  @include flex-col-center;

  @include mq-max($tablet-max) {
    padding: 8rem 5%;
  }

  @include mq-max($phone-max) {
    padding: 0;
    border-radius: 0;
  }

  @include mq-landscape(phone-max) {
    height: 82%;
    border-radius: 0;
  }

  //$ Active class --------------------------------------------------
  &--active,
  &--winner {
    & .player__name {
      font-weight: $fw-max;
    }

    & .player__score {
      font-weight: $fw-b;
    }

    & .current-box {
      opacity: 1;
    }
  }

  &--active {
    background-color: $clr-white-900;
  }

  &--winner {
    background-color: $clr-white;
  }

  //$ Wrapper --------------------------------------------------
  &__wrapper {
    @include flex-col-center(2.4rem);

    @include mq-max($phone-max) {gap: 3rem;}
    @include mq-max($phone-min) {gap: 3rem;}
    @include mq-max-w-h($phone-s, $screen-h-m) {gap: 2rem;}
    @include mq-landscape(phone-max) {gap: 0;}
  }

  &__heading-wrapper {
    text-align: center;
  }

  //$ Name --------------------------------------------------
  &__name {
    position: relative;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    color: $clr-grey;
    font-weight: $fw-default;
    font-size: $fs-heading-m;
    
    @include mq-max($phone-max) {@include fs-up($fs-heading-m, 0.3)} // 4.3r
    @include mq-max($phone-s) {@include fs-down($fs-heading-m, 0.4)} // 3.6r
    @include mq-max($phone-min) {@include fs-down($fs-heading-m, 0.6)} // 3.4r
    @include mq-max-w-h($phone-m, $screen-h-max) {@include fs-down($fs-heading-m, 0.4)} // 3.6r
    @include mq-max-w-h($phone-min, $screen-h-s) {@include fs-down($fs-heading-m, 1)} // 3r
    @include mq-landscape(phone-max) {@include fs-down($fs-heading-m, 0.4)} // 3.6r
  }
  
  //$ Playing & Winner --------------------------------------------------
  &__playing,
  &__winner {
    animation: pulsing 1s linear infinite alternate;
    color: $clr-grey;
    font-size: $fs-text-b;
    font-weight: $fw-m;
    
    @include mq-max($phone-max) {@include fs-up($fs-text-b, 0.2)} // 2r
    @include mq-max($phone-min) {@include fs-down($fs-text-b, 0.1)} // 1.7r
    @include mq-max-w-h($phone-min, $screen-h-s) {@include fs-down($fs-text-b, 0.1)} // 1.7r
    @include mq-landscape(phone-max) {@include fs-down($fs-text-b, 0.1);} // 1.7r
  }
  
  &__status {
    height: 2.7rem;
  }
  
  //$ Score --------------------------------------------------
  &__score {
    $l-fs-score: 12rem;

    font-size: $l-fs-score;
    font-weight: $fw-min;
    color: $clr-grey;
    @include pos-Y(-1.3rem);

    @include mq-max($phone-max) {
      @include fs-down($l-fs-score, 2); // 10r
      @include pos-Y(-4.2rem);
    }

    @include mq-max($phone-min) {
      @include fs-down($l-fs-score, 5); // 7r
      @include pos-Y(-3.9rem);
    }

    @include mq-max-w-h($phone-m, $screen-h-max) {
      @include fs-down($l-fs-score, 4); // 8r
    }

    @include mq-max-w-h($phone-min, $screen-h-s) {
      @include fs-down($l-fs-score, 5.5); // 6.5r
      @include pos-Y(-3.7rem);
    }

    @include mq-landscape(phone-max) {
      @include fs-down($l-fs-score, 4.5); // 7.5r
      @include pos-Y(-1.2rem);
    }
  }
}

@keyframes pulsing {
  0% {
    opacity: 40%;
  }

  100% {
    opacity: 100%;
  }
}
