.player {
  @include flex-col-center;
  flex: 50%;
  transition: $transition-medium;
  border-radius: 1rem;
  z-index: 2;
  position: relative;
  overflow: hidden;

  @include mq-max($tablet-max) {
    padding: 8rem 5%;
  }

  @include mq-max($phone-max) {
    padding: 0;
    border-radius: 0;
  }

  @include mq-landscape(phone-max) {
    height: 82%;
    border-radius: 0;
  }

  &--active,
  &--winner {
    & .player__name {
      font-weight: $fw-heading-bulky;
    }

    & .player__score {
      font-weight: 600;
    }

    & .current-box {
      opacity: 1;
    }
  }

  &--active {
    background-color: $clr-white-900;
  }

  &--winner {
    background-color: $clr-white;
  }

  &__wrapper {
    @include flex-col-center(2.4rem);

    @include mq-max($phone-max) {gap: 3rem;}
    @include mq-max($phone-min) {gap: 3rem;}
    @include mq-max-width-height($phone-s, 46.875em) {gap: 6rem;}
    @include mq-max-width-height($phone-min, 31.25em) {gap: 1rem;}
    @include mq-landscape(phone-max) {gap: 0;}
  }

  &__heading-wrapper {
    text-align: center;
  }


  &__status {
    height: 2.7rem;
  }

  &__name {
    position: relative;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    text-transform: uppercase;
    color: $clr-grey;
    font-weight: calc($fw-heading-bulky - 400);
    font-size: $fs-heading-big;

    @include mq-max($phone-max) {font-size: 4.3rem;}
    @include mq-max($phone-s) {font-size: 3.3rem;}
    @include mq-max($phone-min) {font-size: 3.4rem;}
    @include mq-max-width-height($phone-s, 46.875em) {font-size: 3.9rem;}
    @include mq-max-width-height($phone-min, 31.25em) {font-size: 3rem;}
    @include mq-landscape(phone-max) {font-size: 3.6rem;}
  }

  &__playing,
  &__winner {
    color: $clr-grey;
    font-size: $fs-text-big;
    font-weight: $fw-text-medium;
  }

  &__playing {
    animation: pulsing 1s linear infinite alternate;

    @include mq-max($phone-max) {font-size: 2rem;}
    @include mq-max($phone-min) {font-size: 1.7rem;}
    @include mq-max-width-height($phone-s, 46.875em) {font-size: 1.9rem;}
    @include mq-landscape(phone-max) {font-size: 1.7rem;}
  }

  &__score {
    margin-bottom: auto;
    font-size: 12rem;
    font-weight: $fw-tiny;
    color: $clr-grey;

    @include mq-max($phone-max) {
      font-size: 10rem;
      transform: translateY(-4.2rem);
    }

    @include mq-max($phone-min) {
      font-size: 7rem;
      transform: translateY(-4.2rem);
    }

    @include mq-max-width-height($phone-s, 46.875em) {
      font-size: 8rem;
      transform: translateY(-7rem);
    }

    @include mq-max-width-height($phone-min, 31.25em) {
      transform: translateY(-3.2rem);
    }

    @include mq-landscape(phone-max) {
      font-size: 7.5rem;
      transform: translateY(-1.2rem);
    }
  }
}

@keyframes pulsing {
  0% {
    opacity: 40%;
  }

  100% {
    opacity: 100%;
  }
}
