.timer {
  z-index: -1;
  background-color: $clr-white-090;
  @include border-radius-top($border-radius-default);
  @include size(13%, 22.5rem);
  @include abs-center-X;
  @include abs($t: -8rem);

  @include mq-1280x720 {
    top: -5rem;
    @include size(8%, 16.5rem);
  }

  @include mq-max($tablet-min) {
    top: -6.5rem;
    @include size(10.5%, 19rem);
  }

  @include mq-max($phone-max) {
    background-color: transparent; // Hide bg for phone screens
    margin-left: 1rem;
    width: 100%;
    top: -6.1rem;
    @include flex-me($justify: flex-start);
  }

  @include mq-max($phone-min) {
    top: -5.3rem;
  }

  @include mq-max-w-h($phone-min, $screen-h-s) {
    top: -4.4rem;
  }

  @include mq-landscape(phone-max) {
    z-index: layer('default');
    background-color: transparent; // Hide bg for phone screens
    width: 100%;
    top: 1.2rem;
    margin-left: 2rem;
    @include flex-me($justify: flex-start);
  }

  @include mq-landscape(phone-s) {
    top: 1rem;
  }

  //$ Counter --------------------------------------------------
  &__counter {
    letter-spacing: 0.7rem;
    color: $clr-white;
    font-size: $fs-heading-max;
    @include flex-justify-center;

    @include mq-1280x720 {@include fs-down($fs-heading-max, 2)} // 3.5r
    @include mq-max($tablet-min) {@include fs-down($fs-heading-max, 1)} // 4.5r
    @include mq-max($phone-max) {@include fs-down($fs-heading-max, 2)} // 3.5r
    @include mq-max($phone-min) {@include fs-down($fs-heading-max, 2.5)} // 3r
    @include mq-landscape(phone-max) {@include fs-down($fs-heading-max, 2.5)} // 3r

    // For landscape have always grey clr
    @include mq-landscape(phone-max) {color: $clr-grey !important}
  }
}

