.timer {
  @include animation(pop-in);
  transition: $transition-fast;
  position: absolute;
  top: -8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 22.5rem;
  background-color: $clr-white-090;
  border-radius: 1rem 1rem 0 0;
  height: 13%;
  z-index: 888;

  @include mq-max($tablet-min) {
    top: -6.5rem;
    width: 19rem;
    height: 10.5%;
  }

  @include mq-max($phone-max) {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    margin-left: 1rem;
    width: 100%;
    top: -5.1rem;
  }

  @include mq-max($phone-min) {
    top: -4.5rem;
  }

  @include mq-max-width-height($phone-s, 46.875em) {
    top: -5.2rem;
  }

  @include mq-max-width-height($phone-min, 31.25em) {
    top: -4.2rem;
  }

  // 1280/720
  @media only screen and (max-height: 800px) and (min-width: 580px) {
    top: -5rem;
    width: 16.5rem;
    height: 8%;
  }

  @include mq-landscape(phone-max) {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    width: 100%;
    top: 0.5rem;
    margin-left: 1rem;
  }

  @include mq-landscape(phone-s) {
    top: 0.8rem;
  }

  &__counter {
    color: $clr-white;
    font-size: calc($fs-default + 4rem); // 4.5rem
    letter-spacing: 0.7rem;

    display: flex;
    justify-content: center;

    @include mq-max($tablet-min) {
      font-size: calc($fs-default + 3rem); // 4.5rem
    }

    @include mq-max($phone-max) {
      font-size: 3.5rem;
    }

    @include mq-max($phone-min) {
      font-size: 3rem;
    }

    @include mq-max-width-height($phone-s, 46.875em) {
      font-size: 3.8rem;
    }

    // 1280/720
    @media only screen and (max-height: 800px) and (min-width: 580px) {
      font-size: calc($fs-default + 2rem); // 4.5rem
    }

    @include mq-landscape(phone-max) {
      color: $clr-grey !important;
      font-size: 3rem;
    }

    @include mq-landscape(phone-s) {
      font-size: 2rem;
    }
  }
}

// 960 x 600 fix
