.timer {
    @include animation(pop-in);
    transition: $transition-fast;
    position: absolute;
    top: 3rem;
  
    padding: 0.1rem 4rem;
    background-color: $clr-white-090;
    border-radius: 1rem;
  
    &__counter {
      color: $clr-white;
      font-size: calc($fs-default + 5rem); // 6.5rem
      letter-spacing: 0.7rem;
    }
  }
  