.victory-bar {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
  //@include animation(fade-in);
  transition: $transition-slow;
  //@include animation(pop-in);
  z-index: 7777;

  padding: $padding-medium;
  border-radius: $border-radius;
  background-color: $clr-white;
  box-shadow: $box-shadow-medium;

  @include mq-max($tablet-min) {
    padding: 3rem;
    width: 52rem;
  }

  @include mq-max($phone-max) {
    bottom: 0;
    width: 100vw;
    border-radius: 0;
    padding: 4rem 12vw;
  }

  @include mq-landscape(phone-max) {
    padding: 3rem;
    bottom: 2vh;
    width: 97vw;
  }

  @include mq-landscape(phone-s) {
    bottom: 1.8vh;
    border-radius: $border-radius;
    padding: 4rem 6rem;
  }

  &__heading {
    font-size: $fs-heading-medium;
    color: $clr-grey;
    margin-bottom: 3rem;

    @include mq-max($tablet-min) {
      font-size: 2.6rem;
    }

    @include mq-max($phone-max) {
      margin-bottom: 3rem;
      font-size: 6.7vw;
      text-align: center;
    }

    @include mq-max($phone-min) {
      font-size: 7.4vw;
    }

    @include mq-landscape(phone-max) {
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }

    @include mq-landscape(phone-s) {
      font-size: 4.5vw;
    }

    &--player {
      text-transform: uppercase;
      color: $clr-primary;
    }
  }

  &__btns-container {
    @include flex-me(flex-start, center, 2rem);

    @include mq-max($phone-max) {
      flex-direction: column;
      gap: 3rem;
    }

    @include mq-landscape(phone-s) {
      flex-direction: row;
    }

    & .btn-grey--lg {
      @include mq-max($phone-max) {
        width: 100%;
        font-size: 1.8rem;
        padding: 1.7rem;
      }

      @include mq-landscape(phone-s) {
        font-size: 1.7rem;
        padding: 1.6rem;
      }
    }
  }
}
