
// SECTION: Main background styling for sections
@mixin glossy-bg(
  $padding-value: null,
  $shadow-value: $clr-black-200,
  $bg-color: $clr-white-090,
  $light-theme: true
) {
  @if $light-theme {
    padding: $padding-value;
    background-color: $bg-color;
    border: 0.5rem solid $clr-primary-700;
    box-shadow: 0 0 4rem $shadow-value;
    border-radius: $border-radius-default;
    backdrop-filter: blur(10rem);
  } @else {
    padding: $padding-value;
    background-color: $bg-color;
    border: 0.3rem solid $clr-grey-100;
    outline: 0.2rem solid $clr-grey-100;
    box-shadow: 0 0 2.5rem $shadow-value;
    border-radius: $border-radius-default;
    backdrop-filter: blur(10rem);
  }
}

@mixin reset-glossy-bg {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  backdrop-filter: none !important;
}

// SECTION: Menu sections size rules for landscape
@mixin menus-landscape-size {
  padding: 2rem;
  @include size(65vh, 95vw);
  @include abs-center;
}

// SECTION: Main background styling for modals
@mixin modal-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $clr-black-800;
  backdrop-filter: blur(0.5rem);
  user-select: none;
}

// SECTION: Z-index system
// NOTE: The lower number position in array means the higher z-index it gets
// NOTE: Modal is the highest in the order - default is the lowest in the order 
$z-indexes: ('modal', 'navbar', 'win-bar', 'default');

@function layer($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name))+1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

// SECTION: Divider
@mixin divider(
  $margin-bottom: 0.6rem,
  $margin-top: null,
  $width-value: 100%,
  $height-value: 0.2rem,
  $color: $clr-white-200
) {
  margin: 0 auto; // center
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  width: $width-value;
  height: $height-value;
  background-color: $color;
  border-radius: 10rem;
}

// SECTION: IE
@mixin hide-for-IE($boolean) {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @if($boolean) {
      display: $SHOW;
    } @else {
      display: $HIDE;
    }
  }
}

// SECTION: Stop animations at breakpoint
@mixin reset-animations {
  transform: translate(0, 0) rotate(0deg) !important;
  opacity: 1 !important;
  animation-play-state: paused;
}

@mixin mq-stop-animations($breakpoint-portrait, $breakpoint-landscape) {
  @include mq-max($breakpoint-portrait) {
    @include reset-animations;
  }
  
  @include mq-landscape($breakpoint-landscape) {
    @include reset-animations;
  }
}