@mixin glossy-bg(
  $padding-value: 0rem,
  $shadow-value: $clr-black-200,
  $bg-color: $clr-white-090,
  $light-theme: true
) {
  @if $light-theme {
    padding: $padding-value;
    background-color: $bg-color;
    border: 0.2rem solid $clr-primary-600;
    outline: 0.1rem solid $clr-primary-600;
    box-shadow: 0 0 5rem $shadow-value;
    border-radius: $border-radius;
    backdrop-filter: blur(10rem);
  } @else {
    padding: $padding-value;
    background-color: $bg-color;
    border: 0.2rem solid $clr-grey-100;
    outline: 0.1rem solid $clr-grey-100;
    box-shadow: 0 0 2.5rem $shadow-value;
    border-radius: $border-radius;
    backdrop-filter: blur(10rem);
  }
}

@mixin reset-glossy-bg {
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  backdrop-filter: none;
}

@mixin modal-bg {
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: $clr-black-800;
  backdrop-filter: blur(0.5rem);
  user-select: none;
}

@mixin divider(
  $margin-top: 0rem,
  $margin-bottom: 0rem,
  $width-value: 100%,
  $height-value: 0.1rem,
  $color: $clr-white-200
) {
  margin: 0 auto; // center
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  width: $width-value;
  height: $height-value;
  background-color: $color;
  border-radius: 10rem;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin abs-position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin breakpoint($point) {
  @if $point == large {
    @media only screen and (min-width: 1366px) {
      @content;
    }
  } @else if $point == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
}
