@mixin glossy-bg(
  $padding-value: null,
  $shadow-value: $clr-black-200,
  $bg-color: $clr-white-090,
  $light-theme: true
) {
  @if $light-theme {
    padding: $padding-value;
    background-color: $bg-color;
    border: 0.2rem solid $clr-primary-600;
    outline: 0.1rem solid $clr-primary-600;
    box-shadow: 0 0 5rem $shadow-value;
    border-radius: $border-radius;
    backdrop-filter: blur(10rem);
  } @else {
    padding: $padding-value;
    background-color: $bg-color;
    border: 0.2rem solid $clr-grey-100;
    outline: 0.1rem solid $clr-grey-100;
    box-shadow: 0 0 2.5rem $shadow-value;
    border-radius: $border-radius;
    backdrop-filter: blur(10rem);
  }
}

@mixin reset-glossy-bg {
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  backdrop-filter: none;
}

@mixin modal-bg {
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: $clr-black-800;
  backdrop-filter: blur(0.5rem);
  user-select: none;
}

@mixin divider(
  $margin-top: 0rem,
  $margin-bottom: 0rem,
  $width-value: 100%,
  $height-value: 0.1rem,
  $color: $clr-white-200
) {
  margin: 0 auto; // center
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  width: $width-value;
  height: $height-value;
  background-color: $color;
  border-radius: 10rem;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin abs-position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin breakpoint($point) {
  @if $point == large {
    @media only screen and (min-width: 1366px) {
      @content;
    }
  } @else if $point == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
}

// max-width
// 1050 11111
// 900 11111
// 850 1
// 800 1
// 700 11111111111
// 580 11111111111111111111111111111111111111
// 480 11
// 460 1111
// 400 1111111
// 375 1
// 360 1111111111
// 350 1
// 340 11
// 330 111111111

// max-height
// 720 1
// 600 1
// 320

// max-width/height
// 915 x 430 1111111111111111111111111111111
// 600 x 430 1
//* 800 x 580 11
//* 580 x 800 1
// 580 x 790 11
// 580 x 710 11
// 580 x 600 1
// 580 x 350 11
// 570 x 350 111111111
// 570 x 320 1111111111
// 360 x 750 1111111
// 330 x 500 1111111

/////*****************************
//* changed
/////*****************************
// max-width

$tablet-max: 65.625em; // 1050px
$tablet-b: 56.25em; // 900px
$tablet-m: 53.125em; // 850px
$tablet-s: 50em; // 800px
$tablet-min: 43.75em; // 700px

$phone-max: 36.25em; // 580px
$phone-b: 28.75em; // 460px
$phone-m: 25em; // 400px
$phone-s: 22.5em; // 360px
$phone-min: 20.625em; // 330px

// max-height
// 720
// 600

@mixin mq-max($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin mq-max-height($breakpoint) {
  @media only screen and (max-height: $breakpoint) {
    @content;
  }
}

@mixin mq-max-width-height($breakpoint-width, $breakpoint-height) {
  @media only screen and (max-width: $breakpoint-width) and (max-height: $breakpoint-height) {
    @content;
  }
}

// max-width/height
// phone-max 915px x 430px
// phone-b 780px x 360px
// phone-m 640px × 360px
// phone-s 570px x 320px
// phone-min 490px x 320px

@mixin mq-landscape($breakpoint) {
  @if $breakpoint == phone-max {
    @media only screen and (orientation: landscape) and (max-width: 57.1875em) and (max-height: 26.875em) {
      @content;
    }
  }
  @if $breakpoint == phone-b {
    @media only screen and (orientation: landscape) and (max-width: 48.75em) and (max-height: 22.5em) {
      @content;
    }
  }
  @if $breakpoint == phone-m {
    @media only screen and (orientation: landscape) and (max-width: 40em) and (max-height: 22.5em) {
      @content;
    }
  }
  @if $breakpoint == phone-s {
    @media only screen and (orientation: landscape) and (max-width: 35.625em) and (max-height: 20em) {
      @content;
    }
  }
  @if $breakpoint == phone-min {
    @media only screen and (orientation: landscape) and (max-width: 30.625em) and (max-height: 20em) {
      @content;
    }
  }
}

@mixin absCenter {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absCenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absCenterX {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@mixin rfs-btn {
  width: 21rem;
  padding: 1.7rem;

  @include mq-max($phone-s) {
    width: 19rem;
  }

  @include mq-landscape(phone-max) {
    width: 20vw;
    padding: 1.5rem;
  }
}
