.copyright {
  @include flex-col-center;
  position: absolute;
  bottom: 1rem;

  @media only screen and (max-width: 400px) {
    bottom: 0rem;
  }

  &__text {
    width: $text-width-medium;
    text-align: center;

    font-weight: $fw-text-bulky;
    font-size: $fs-text-small;
    word-spacing: 0.12rem;
    margin-bottom: 0.5rem;

    @media only screen and (max-width: 400px) {
      margin-bottom: 0;
      font-size: 0.9rem;
    }
  }

  &__icons {
    @include flex-align-center(1.5rem);
  }

  &__icon {
    width: 2rem;
    fill: $clr-white;

    @media only screen and (max-width: 400px) {
      width: 1.8rem;
    }
  }

  // Make logo bit bigger and in better position with other icons
  & #website {
    width: 2.33rem;
    transform: translate(0.1rem, 0.1rem);

    @media only screen and (max-width: 400px) {
      width: 2.23rem;
    }
  }
}
