.copyright {
  @include flex-col-center;
  @include abs($b: 1rem);

  // Hide for smaller screens
  @media only screen and (max-width: 580px), (max-height: 800px) {
    display: none;
  }

  &__text {
    width: 45ch;
    text-align: center;
    word-spacing: 0.12rem;
    margin-bottom: 0.5rem;
    font-weight: $fw-b;
    font-size: $fs-text-min;
  }

  &__icons {
    @include flex-align-center(1.5rem);
  }

  &__icon {
    width: 2rem;
    fill: $clr-white;
  }

  // Make logo bit bigger and in better position with other icons
  & #website {
    width: 2.33rem;
    transform: translate(0.1rem, 0.1rem);
  }
}
