.credits {
  display: grid;
  @include glossy-bg($p-b);
  @include animation(pop-in);

  @include mq-max($phone-b) {
    padding: 8vw 4vw;
    width: $w-fluid-max;
  }

  @include mq-landscape(phone-max) {
    overflow-y: scroll;
    @include menus-landscape-size;
  }

// SECTION: Heading
  &__heading {
    text-transform: uppercase;
    text-align: center;
  }

  &__divider {
    @include divider;

    // Make divider not full width
    @include mq-max($phone-b) {
      width: calc(100% - 8vw);
    }
  }

// SECTION: Creators
  &__creators-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    column-gap: 2.5rem;

    @include mq-max($phone-max) {
      gap: 0.8rem;
      column-gap: 1.5rem;
    }
  }

  &__creator {
    &--role {
      text-align: right;
      font-weight: $fw-max;
      grid-column: 1 / 2;
    }

    &--name {
      text-align: left;
      font-weight: $fw-s;
      grid-column: 2 / 3;
    }
  }

// SECTION: Btn
  & .btn-opacity {
    justify-self: center;
    @include margin-top(3rem);
  }
}
