.game-modes {
  @include glossy-bg($padding-big);
  @include animation(pop-in);

  &__heading {
    font-size: $fs-heading-big;
    text-transform: uppercase;
    text-align: center;
    color: $clr-secondary;
  }

  &__divider {
    @include divider(0.5rem, 2.8rem);
  }

  &__btns-container {
    @include flex-justify-center(5rem);
  }

  &__btn {
    @include flex-me;
    width: 20rem;
    height: 8rem;
    transition: $transition-fast;

    font-size: $fs-text-biggest;
    font-weight: $fw-text-bulky;
    color: $clr-white;

    background-color: transparent;
    border: $border-white-thick;
    border-radius: $border-radius;

    &:hover {
      cursor: pointer;
      transform: scale(110%);
      font-weight: calc($fw-text-bulky + 200); //800
      color: $clr-secondary;
      border: $border-secondary-thick;
    }
  }
}
