.game {
  user-select: none;
  position: relative;
  display: flex;
  @include glossy-bg(0, $clr-black-300, $clr-white-300);
  @include animation(pop-in);
  @include size(60rem, 100rem);

  @include mq-max($tablet-max) {
    width: $w-fluid-max;
  }

  @include mq-max($phone-max) {
    flex-direction: column;
    @include abs($b: 0);
    @include size(80vh, 100%);
    @include reset-glossy-bg;
  }

  // for small screens (iPhone 4)
  @include mq-max-w-h($phone-min, $screen-h-m) {
    height: 83vh;
  }

  @include mq-landscape(phone-max) {
    flex-flow: row wrap;
    @include size(100vh, 100vw);
    @include reset-glossy-bg;
  }

  // SECTION: Start note
  &__start {
    transition: $transition-fast;

    & .note {
      opacity: 1;
      width: 35rem;
      font-weight: $fw-max;
      background-color: $clr-grey !important; // for dark theme
      @include flex-center;
      @include fs-up($fs-text-min, 1); // 2r
      @include abs-center;
      top: 4rem;
    }
  }
}
