.menu {
  @include glossy-bg($padding-big);
  @include flex-col-center(5rem);
  @include animation(pop-in);

  @media only screen and (max-width: 580px) {
    gap: 3.5rem;
  }

  @media only screen and (max-width: 460px) {
    padding: 11% !important;
  }

  @media only screen and (max-width: 360px) {
    padding: 9% !important;
  }

  // ls phone
  @media only screen and (orientation: landscape) and (max-width: 915px) and (max-height: 430px) {
    width: 93vw;
    height: 28rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    gap: 3rem;
  }

  &__logo {
    @include flex-align-center(2.5rem);
    user-select: none;

    &--icon {
      @include animation(icon-throw);

      & img {
        @include animation(icon-rotate);
        width: 12.5rem;

        @media only screen and (max-width: 360px) {
          width: 28vw;
          gap: 1.5rem;
        }

        @media only screen and (orientation: landscape) and (max-width: 580px) and (max-height: 350px) {
          width: 10rem;
        }
      }
    }

    &--text {
      font-size: $fs-heading-biggest;
      font-weight: $fw-heading-tiny;
      line-height: 5.5rem;
      letter-spacing: 0.8rem;

      @media only screen and (max-width: 350px) {
        font-size: 10.5vw;
        line-height: 12vw;
      }

      @media only screen and (orientation: landscape) and (max-width: 580px) and (max-height: 350px) {
        font-size: 3.5rem;
        line-height: 4.5rem;
      }

      &-top {
        @include animation(text-slide, 0.3s, 0.001s, backwards);
      }

      &-bottom {
        @include animation(text-slide, 0.2s, 0.15s, backwards);
      }
    }
  }

  &__btns-container {
    @include flex-col-center(3rem);

    @media only screen and (orientation: landscape) and (max-width: 915px) and (max-height: 430px) {
      flex-direction: row;
    }

    & .btn {
      width: 21rem;
      padding: 1.55rem;

      @media only screen and (max-width: 360px) {
        width: 19rem;
      }

      @media only screen and (orientation: landscape) and (max-width: 915px) and (max-height: 430px) {
        width: 24vw;
      }
    }

    @media only screen and (max-width: 360px) {
      gap: 2.5rem;
    }
  }
}

@keyframes icon-throw {
  0% {
    transform: translate(-15rem, -2rem);
  }
}

@keyframes icon-rotate {
  0% {
    opacity: 0;
    transform: rotate(50deg);
  }
}

@keyframes text-slide {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
}
