

.menu {
  user-select: none;
  @include glossy-bg($p-b);
  @include flex-col-center(3rem);
  @include animation(pop-in);

  @include mq-max($phone-b) {padding: 15%}
  @include mq-max($phone-m) {width: $w-fluid-max}
  @include mq-max-w-h($phone-min, $screen-h-s) {height: 48rem}

  @include mq-landscape(phone-max) {
    gap: 2rem;
    @include menus-landscape-size;
  }

// SECTION: Logo
  &__logo {
    @include flex-align-center(2.5rem);
    
    &--icon {
      @include animation(icon-throw);
      @include mq-max($phone-max) {animation-play-state: paused}

      & img {
        width: 12.5rem;
        @include animation(icon-rotate);
        @include mq-max($phone-max) {animation-play-state: paused}

        @include mq-max($phone-m) {width: 27vw}
        @include mq-landscape(phone-max) {width: 14vw}
        @include mq-landscape(phone-s) {width: 13vw}
        @include mq-landscape(phone-min) {width: 15vw}

      }
    }

    &--text {
      letter-spacing: 0.8rem;
      line-height: 5.5rem; 
      font-size: $fs-heading-b;
      font-weight: $fw-m;
      color: $clr-white;
      
      @include mq-max($phone-s) {
        font-size: 10.5vw;
        line-height: 12vw;
      }

      @include mq-landscape(phone-max) {
        font-size: 5.5vw;
        line-height: 7vw;
      }

      &-top {
        @include animation(text-slide, 0.3s, 0.001s, backwards);
        @include mq-max($phone-max) {animation-play-state: paused}

      }

      &-bottom {
        @include animation(text-slide, 0.2s, 0.15s, backwards);
        @include mq-max($phone-max) {animation-play-state: paused}

      }
    }
  }

// SECTION: Btns container
  &__btns-container {
    width: 100%;
    @include flex-col-center(3rem);

    @include mq-landscape(phone-max) {flex-direction: row}
    @include mq-landscape(phone-s) {gap: 2rem}
  }
}

@keyframes icon-throw {
  0% {
    transform: translate(-15rem, -2rem);
  }
}

@keyframes icon-rotate {
  0% {
    opacity: 0;
    transform: rotate(50deg);
  }
}

@keyframes text-slide {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
}
