.modes {
  @include glossy-bg($padding-big);
  @include animation(pop-in);

  @include mq-max($tablet-b) {
    width: 90%;
    padding: 7%;
  }

  @include mq-max($phone-max) {
    width: 80%;
    padding: 10.5%;
  }

  @include mq-landscape(phone-max) {
    @include absCenter;
  }

  @include mq-landscape(phone-s) {
    width: 90%;
    padding: 7%;
  }

  &__heading {
    font-size: 5.1rem;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    text-align: center;

    @include mq-max($tablet-b) {
      font-size: 5.2vw;
      letter-spacing: 0.2rem;
    }

    @include mq-max($phone-max) {
      font-size: 7vw;
      line-height: 1.3;
    }

    @include mq-landscape(phone-s) {
      font-size: 5.5vw;
    }

    // breaking text into two lines
    & span {
      @include mq-max($phone-max) {
        display: block;
      }

      @include mq-landscape(phone-s) {
        display: inline;
      }
    }
  }

  &__divider {
    @include divider(0.5rem, 2.5rem);
  }

  &__btns-container {
    @include flex-justify-center(5rem);

    @include mq-max($phone-max) {
      @include flex-col-center(3rem);
    }

    @include mq-landscape(phone-m) {
      flex-direction: row;
    }
  }
}
