.modes {
  $l-p-fluid-max: 15%;
  $l-p-fluid-m: 9%;
  $l-p-fluid-min: 8%;

  @include glossy-bg($p-b);
  @include animation(pop-in);

  @include mq-max($tablet-m) {
    padding: $l-p-fluid-min;
    width: $w-fluid-max;
  }

  @include mq-max($phone-max) {
    padding: $l-p-fluid-m;
    width: $w-fluid-b;
  }

  @include mq-max($phone-m) {
    padding: $l-p-fluid-max;
    width: $w-fluid-max;
  }

  @include mq-landscape(phone-max) {
    @include abs-center;
    @include flex-col-center;
    @include menus-landscape-size;
  }

// SECTION: Heading
  &__heading {
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    @include font-size($fs-heading-m);

    @include mq-max($phone-max) {@include font-size($fs-heading-m)}
    @include mq-max($phone-min) {@include font-size($fs-heading-m)}
    @include mq-landscape(phone-min) {@include font-size($fs-heading-m)}

    & span {
      @include mq-max($phone-max) {
        // breaking text into two lines/rows
        display: block;
      }

      @include mq-landscape(phone-s) {
        display: inline;
      }
    }
  }

  &__divider {
    @include divider(2.2rem);
  }

// SECTION: Btns container
  &__btns-container {
    @include flex-justify-center(5rem);

    @include mq-max($tablet-m) {
      gap: 6%;
    }

    @include mq-max($phone-max) {
      @include flex-col-center(3rem);
    }

    @include mq-landscape(phone-max) {
      flex-direction: row;
      width: 100%;
    }

    & .btn-primary {
      @include mq-max($phone-max) {
        width: 100%;
      }
    }
  }
}
