.navbar {
  @include flex-justify-center(1rem);
  user-select: none;
  position: absolute;
  top: 2rem;
  right: 3rem;

  @media only screen and (max-width: 1050px) {
    right: 2rem;
  }

  @media only screen and (max-width: 500px) {
    top: 1.5rem;
    right: 1rem;
  }

  @media only screen and (max-height: 600px) {
    top: 0.8rem;
  }

  & .btn-round {
    position: relative;
  }

  & .btn-round .icon {
    @include size-same(2rem);
    color: $clr-white;
  }

  & .btn-round:hover .note {
    opacity: 1;
  }

  & .btn-round .note {
    position: absolute;
    bottom: -3.5rem;
  }
}

// own file
