.navbar {
  z-index: layer('navbar');
  user-select: none;
  width: calc(100% - 2.5rem);
  @include abs($t: 2rem, $r: 3rem);
  @include flex-me($justify: flex-end, $gap: 1rem);
  @include hide-for-IE($HIDE_CONTENT);

  @include mq-1280x720 {@include abs($t: 0.8rem, $r: 1rem)}
  @include mq-max($tablet-max) {@include abs($t: 1rem, $r: 2rem)}
  @include mq-max($phone-max) {@include abs($t: 1rem, $r: 1.2rem)}
  @include mq-landscape(phone-max) {@include abs($t: 1rem, $r: 2rem)}


  // For smaller phone screens break in half(two btns are on left side and two btns on right side
  & .btn-round:first-child {
    margin-left: auto;

    @include mq-max-w-h($phone-m, $screen-h-b) {
      margin: 0;
    }
  }

  & .btn--pause {
    @include mq-max-w-h($phone-m, $screen-h-b) {
      margin-right: auto;
    }
  }
  // ends here ///////////////////////////////////

  & .btn-round {
    position: relative;
  }

  & .btn-round:hover .note {
    opacity: 1;
  }

  & .btn-round .note {
    @include abs($t: 3.5rem, $l: -2rem);
  }
}