.rules {
  height: 74vh;
  overflow-y: scroll;
  display: grid;
  @include glossy-bg($p-s);
  @include animation(pop-in);

  @include mq-max($tablet-b) {
    padding: $p-fluid-s;
    width: $w-fluid-max;
  }

  @include mq-landscape(phone-max) {
    @include menus-landscape-size;
  }

  &__section {
    @include margin-bottom(5rem);
  }

  &__divider {
    @include divider;
  }

  &__list {
    padding-left: 1.5rem;
  }

  &__text,
  &__list-item {
    width: 80ch;

    @include mq-max($tablet-b) {width: 100%}
  }

  & .btn-opacity {
    justify-self: center;
  }
}
