.rules {
  height: 74vh;
  overflow: auto;
  @include glossy-bg(4rem);
  @include animation(pop-in);

  @include mq-max($tablet-b) {
    width: 95vw;
    padding: 4%;
  }

  @include mq-landscape(phone-max) {
    padding: 3rem;
    @include size(73vh, 95vw);
    @include absCenter;
  }

  &__section {
    margin-bottom: 3rem;
  }

  &__heading {
    @include mq-max($phone-m) {
      font-size: 6.5vw;
    }
  }

  &__divider {
    @include divider(0.1rem, 1rem);
  }

  &__list {
    padding-left: 1.5rem;
  }

  &__text,
  &__list-item {
    width: 80ch;
    font-size: 1.5rem;

    @include mq-max($tablet-b) {
      width: 100%;
    }

    @include mq-max($phone-m) {
      font-size: 3.5vw;
    }
  }

  & .btn {
    @include rfs-btn;
  }
}
